{
  "presets": [
    ["env", {
      "modules": "umd"
    }],
    ["stage-2"],
  ],
  "env": {
    "production": {
      "ignore": ".spec.js"
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src", "./misc", "./generated"]
        }]
      ]
    }
  }
}
