{
  "presets": [
    ["env", {
      "modules": "umd"
    }],
    ["stage-3"],
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "production": {
      "ignore": ".spec.js",
      "plugins": [
        ["module-resolver", {
          "root": ["./src"]
        }]
      ],
      "presets": [
        ["env", {
          "modules": false
        }],
        ["stage-2"],
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": false
        }],
        ["stage-2"],
      ]
    },
    "test": {
      "plugins": [
        ["module-resolver", {
          "root": ["./src", "../../misc"]
        }]
      ]
    }
  }
}
